# Node.js
node_modules/

# Logs
logs/
*.log

# Dependency directories
vendor/

# macOS
.DS_Store

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Windows
Thumbs.db
ehthumbs.db

# Config files
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build files
/build
/dist

# Miscellaneous
*.bak
*.backup
*.tmp
*.swp
